@model IEnumerable<ImageCloud.Models.ImageViewModel>

@{
    ViewBag.Title = "Image List";
}
@using ImageCloud.Variables;

@if (Variables.CurrentUser != null)
{
    <div class="fixed-bottom">
        <div class="float-right">
            @Html.ActionLink("Create New", "UploadImage", new { controller = "Image" }, new { @class = "btn btn-info" })
        </div>
    </div>
    <div class="container">
         @foreach (var item in Model)
        {
            <div class="card bg-dark text-white">
                <img class="card-img" src=@Url.Content(item.Picture) alt="Card image" style="height:500px">
                <div class="card-img-overlay bg-info" style="width:17%">
                    <h5 class="card-title bg-info"> @Html.DisplayFor(modelItem => item.ImageName)</h5>
                    <p class="card-text bg-info">@Html.DisplayFor(modelItem => item.ImageDate)</p>
                    <div class="btn-group">
                        <form action=@Url.Content("/Image/Details/"+item.Id.ToString())>
                            <input type="submit" value="Details" class="btn btn-outline-light" />
                        </form>
                        <form action=@Url.Content("/Image/Delete/"+item.Id.ToString())>
                            <input type="submit" value="Delete" class="btn btn-outline-light" />
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
   <h5>Приветствуем вас в новом сервисе ImageCloud</h5>
   <p>Чтобы воспользоваться сервисом необходимо @Html.ActionLink("Зарегистрироваться", "CreateUser",new {controller ="User" }, new {@class="badge badge-pill badge-info" }) или  @Html.ActionLink("Войти", "SignIn",new { controller="User"},new { @class= "badge badge-pill badge-info" }) в Аккаунт</p>
}